.form-control {
    background-color: #323232;
    color: #FFFFFF;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

footer {
    display: flex;
    flex-direction: column;
}
a{
    text-decoration:none;
}

.main {
    flex: 1 0 auto;
}

.accordion-collapse {
    background-color: #212121;
}

.accordion-item {
    /*background-color: red;*/
}

.accordion {
    /*background-color: green;*/
}